/* active clicked sidebar button */
.activeClicked .sidebar-menu-item {
  background-color: #007bff !important;
  color: white !important;
}

/* whole sidebar container */
.sidebar-container {
  height: 100%;
  position: fixed;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.3s;
  margin-right: 5px;
  width: 250px;
}

/* siebar menu items */
.sidebar-menu-item {
  transition:
    background-color 0.3s,
    color 0.3s;
}

/* media for when screen is smaller | complements with react-bootstrap */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar-container {
    width: 180px;
  }

  .sidebar-menu-item {
    font-size: 14px;
  }
}

@media (max-width: 788px) {
  .sidebar-container {
    display: none;
  }
}
