// custom.scss


$primary: #0d6efd;
$secondary: #6C757D;
$dark: #495057;
$light: #F1FAEE;
$white: #FFFFFF;
$info: #A8DADC;  
$danger: #EF5B5B;
$warning: #F1C40F;
$success: #4CAF50;


@import "bootstrap/scss/bootstrap";

