// color palette of the application
:root {
  --primary: #0d6efd;
  --secondary: #adb5bd;
  --dark: #495057;
  --light: #ffffff;
  --white: #ffffff;
  --info: #5bc0de;
  --danger: #ef5b5b;
  --warning: #f1c40f;
  --success: #4caf50;
}

$primary: #0d6efd;
$secondary: #6c757d;
$dark: #495057;
$light: #f1faee;
$white: #ffffff;
$info: #5bc0de;
$danger: #ef5b5b;
$warning: #f1c40f;
$success: #4caf50;

@import 'bootstrap/scss/bootstrap';
